
**/bin/
**/obj/

.vs/
.vscode/
.idea/
*.user
*.suo
*.sln.docstates

.git/
.gitignore
.gitattributes

Dockerfile
Dockerfile.*
.dockerignore
docker-compose*


*.user
*.secrets.json
appsettings.Development.json
.env

TestResults/
**/artifacts/
*.clog


**/node_modules/
**/dist/
**/wwwroot/dist/

**/.DS_Store
Thumbs.db
